#myBtn {
  background-color: #FF9800;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
      opacity .5s, visibility .5s;
  z-index: 1000;
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home {
  background-image: url("/static/pics/background.jpg");
}

.login {
  background-image: url("/static/pics/background2.jpg");
}

#login::before {
  display: block;
  content: " ";
  height: 65px;
  visibility: hidden;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

img#athlete {
  max-width: 100%;
  max-height: 100%;
}