<!-- Render a form input fields -->
{% macro render_text_field(field) %}
    <div class="form-label-group">
        {{ field(class="form-control", placeholder=field.label.text, **kwargs)|safe }}
        {{ field.label }}
        {{ render_help(field) }}
        {{ render_field_errors(field) }}
    </div>
{% endmacro %}

<!-- Render inline radio field -->
{% macro render_inline_radio_field(field) %}
    <div class="form-check form-check-inline">
        {{ field.label(class="form-check-label") }}
        {% for subfield in field %}
                {{ subfield(class="form-check-input", **kwargs)|safe }}
                {{ subfield.label(class="form-check-label") }}
        {% endfor %}
        {{ render_help(field) }}
        {{ render_field_errors(field) }}
    </div>
{% endmacro %}

<!-- Render checkbox field -->
{% macro render_checkbox_field(field) %}
    <div class="form-check">
        {{ field(class="form-check-input", **kwargs)|safe }}
        {{ field.label(class="form-check-label") }}
        {{ render_help(field) }}
        {{ render_field_errors(field) }}
    </div>
{% endmacro %}

<!-- Render a form submit field as a button -->
{% macro render_submit_button(field) %}
    {{ field(class="btn btn-lg btn-primary btn-block", **kwargs)|safe }}
    {{ render_help(field) }}
    {{ render_field_errors(field) }}
{% endmacro %}

<!-- PRIVATE ------------------------------------------------------------------>

<!-- Render errors of form field if present -->
{% macro render_field_errors(field) %}
    {% if field.errors %}
        <div class="invalid-feedback d-block">
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

<!-- Render help of form field if present -->
{% macro render_help(field) %}
    {% if field.description %}
        <small class="form-text text-muted">
            {{ field.description }}
        </small>
    {% endif %}
{% endmacro %}