
<!-- Render a form input fields -->
{% macro render_field(field) %}
    <div class="form-label-group">
        {{ field(class="form-control", placeholder=field.label.text, **kwargs)|safe }}
        {{ field.label }}
        {{ render_field_errors(field) }}
    </div>
{% endmacro %}

<!-- Render form checkbox -->
{% macro render_checkbox(field) %}
    {{ field(**kwargs)|safe }}
    {{ field.label }}
    {{ render_field_errors(field) }}
{% endmacro %}

<!-- Render a form submit field as a button -->
{% macro render_submit_button(field) %}
    {{ field(class="btn btn-lg btn-primary btn-block", **kwargs)|safe }}
{% endmacro %}

<!-- Render errors of form field if present -->
{% macro render_field_errors(field) %}
    {% if field.errors %}
        <div class="invalid-feedback">
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
