<!-- Render a table with personal activities -->
{% macro render_personal_activities() %}
    {% call render_pageable_table('personal_activities', url_for('views.get_personal_activities')) %}
        <th data-field="datetime">Date</th>
        <th data-field="distance">Distance</th>
        <th data-field="duration">Duration</th>
        <th data-field="type">Type of activity</th>
    {% endcall %}
{% endmacro %}

<!-- Render a table with personal activities for time -->
{% macro render_personal_activities_time(distance) %}
    {% call render_pageable_table('personal_activities_time',
                                  url_for('views.get_personal_activities_time')) %}
        <th data-field="order">#</th>
        <th data-field="datetime">Date</th>
        <th data-field="distance">Distance</th>
        <th data-field="duration">Duration</th>
        <th data-field="average_duration_per_km">Average time</th>
    {% endcall %}
{% endmacro %}

<!-- Render a table with personal activities for distance -->
{% macro render_personal_activities_distance(type) %}
    {% call render_pageable_table('personal_activities_distance_' + type,
                                  url_for('views.get_personal_activities_distance', type=type)) %}
        <th data-field="datetime">Date</th>
        <th data-field="distance">Distance</th>
        <th data-field="duration">Duration</th>
    {% endcall %}
{% endmacro %}

<!-- Render a table with personal activities for score -->
{% macro render_personal_activities_score(type) %}
    {% call render_pageable_table('personal_activities_score_' + type,
                                  url_for('views.get_personal_activities_score', type=type)) %}
        <th data-field="datetime">Date</th>
        <th data-field="distance">Distance</th>
        <th data-field="score">Score</th>
    {% endcall %}
{% endmacro %}

<!-- Render a table with best users with activities for time -->
{% macro render_best_users_time(distance) %}
    {% call render_pageable_table('best_users_time',
                                  url_for('views.get_best_users_time')) %}
        <th data-field="order">#</th>
        <th data-field="name">Name</th>
        <th data-field="datetime">Date</th>
        <th data-field="distance">Distance</th>
        <th data-field="duration">Duration</th>
        <th data-field="average_duration_per_km">Average time</th>
    {% endcall %}
{% endmacro %}

<!-- Render a table with best users with activities for distance -->
{% macro render_best_users_distace(type) %}
    {% call render_pageable_table('best_users_distance_' + type,
                                  url_for('views.get_best_users_distance', type=type)) %}
        <th data-field="order">#</th>
        <th data-field="name">Name</th>
        <th data-field="distance">Distance</th>
    {% endcall %}
{% endmacro %}

<!-- Render a table with best users with activities for score -->
{% macro render_best_users_score(type) %}
    {% call render_pageable_table('best_users_score_' + type,
                                  url_for('views.get_best_users_score', type=type)) %}
        <th data-field="order">#</th>
        <th data-field="name">Name</th>
        <th data-field="distance">Score</th>
    {% endcall %}
{% endmacro %}

<!-- PRIVATE ------------------------------------------------------------------>

<!-- Render errors of form field if present -->
{% macro render_pageable_table(id, url) %}
    <div class="pageable-table">
        <table id="{{ id }}" class="table table-striped table-sm"
               data-toggle="table" data-height="400" data-url="{{ url }}"
               data-side-pagination="server" data-pagination="true" data-page-list="[10]" >
            <thead>
                <tr>
                    {{ caller() }}
                </tr>
            </thead>
        </table>

        <script>
            $(function() {
                let table = $('#{{ id }}');
                table.bootstrapTable();

                table.bootstrapTable('refreshOptions', {
                    classes: 'table table-striped table-sm'
                })
            })
        </script>
    </div>
{% endmacro %}
