{% extends "main_layout_template.html" %}
{% block content_page %}
    <div class="container mb-4">
        <div class="row-fluid">
            <div class="col-sm mb-4">
		<br>
                <p>
                    We are presenting a competition in collaboration with the Department of Physical Education (KTV MFF UK).
                    Our goal is to bring some joy and competitiveness into doing sports. Exercising is crucial for maintaining good mental and physical health, especially in this time of lock down.
                </p>
                <p>
                    Our sports instructors decided to set several competitions and categories.
                    However, this competition is also about having fun!
                    Together, we all will try to conquer various geological points. This season you can also read some interesting details about each stop.
                </p>
                <p>
                    The top competitors and contributors will be rewarded.
                    The best 10 participants will get a t-shirt and the Dean will reward the best 3 participants from each category with a special prize.
                </p>
                <p style="font-weight: 500">
                    We wish good luck to all the contestants!
                </p>
            </div>
            <div class="col-sm mb-4">
                <h2>Scoring</h2>
                <p>You get a point for each kilometer.</p>
                <p>Depending on the activity, the point per kilometer gets bigger with speed and elevation. However, only some activities take those parameters to account. See more below. </p>
            </div>
            <div class="col-sm mb-4">
                <h2>Running</h2>
                <p>
                    Are you fast runner in shorter distances or do you prefer marathon-like runs?
                    Submit any run with distance of at least 3 km and you are in.
                </p>
                <p>
                    This point per kilometer gets bigger with faster and steeper runs.
                </p>
            </div>

            <div class="col-sm mb-4">
                <h2>Walking</h2>
                <p>
                    If you like to take it easy and don't rush anywhere, walking competition is just for you.
                    Just submit any walking activity with distance of at least 5 km and you are IN!
                </p>
                <p>
                    There you really do not have to rush it. The point per kilometer gets bigger only with elevation.
                </p>
            </div>

            <div class="col-sm mb-4">
                <h2>Inline</h2>
                <p>
                    We did not forget about the inline skaters.
                    Any inline skating activity longer than 8 km is accounted for.
                </p>
                <p>
                    In inline skating the speed is not an important factor. However, the elevation is.
                </p>
            </div>

            <div class="col-sm mb-4">
                <h2>Cycling</h2>
                <p>
                    Are you Annemiek van Vleuten? Cause you sure can ride.
                    As long as the ride is at least 10 km long the game is on.
                </p>
                <p>
                    Size, elevation and sex matters! The bigger those attributes the bigger is your point per kilometer.
                </p>
            </div>
        </div>
    </div>
{% endblock content_page %}
