{% extends "main_layout_template.html" %}
{% from "macros/_flash.html" import render_flash %}


{% block content_page %}
    <h1 class="h2 mt-2">Statistics</h1>
    <hr>
    {{ render_flash() }}

    <div class="row justify-content-left mt-5 w-100">
        <div id="accordion" class="w-100">
             <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Number of activities</th>
                        <th scope="col">Max Pace</th>
                        <th scope="col">Avg Pace</th>
                        <th scope="col">Min Pace</th>
                        <th scope="col">Max Elevation</th>
                        <th scope="col">Avg Elevation</th>
                        <th scope="col">Min Elevation</th>
                        <th scope="col">Avg Distance</th>
                        <th scope="col">Avg Score</th>
                    </tr>
                </thead>
                <tbody>
                {% for activityType in data %}
                    <tr>
                        <td>{{ activityType['Category'] }}</td>
                        <td>{{ activityType['Count'] }}</td>
                        <td>{{ activityType['MaxPace'] }}</td>
                        <td>{{ activityType['AvgPace'] }}</td>
                        <td>{{ activityType['MinPace'] }}</td>
                        <td>{{ activityType['MaxElev'] }}</td>
                        <td>{{ activityType['AvgElev'] }}</td>
                        <td>{{ activityType['MinElev'] }}</td>
                        <td>{{ activityType['AvgDistance'] }}</td>
                        <td>{{ activityType['AvgScore'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content_page %}

