{% extends "main_layout_template.html" %}
{% block content_page %}
    <div class="container mb-4">
        <div class="row-fluid">
            <div class="col-sm mb-4">
                <h2>My Last Rides</h2>
                <table id="personalStats" class="display table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Distance</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cyclist_personal %}
                        <tr>
                            <td>{{ item['datetime'] }}</td>
                            <td>{{ item['distance'] }}</td>
                            <td>{{ item['duration'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm mb-4">
                <h2>Global Leaders</h2>
                <table id="personalStats" class="display table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Distance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cyclists_global %}
                        <tr>
                            <td>{{ item[0].display() }}</td>
                            <td>{{ item[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content_page %}