{% extends "main_layout_template.html" %}
{% from "macros/_flash.html" import render_flash %}


{% block content_page %}
    <h1 class="h2 mt-2">Integrations - STRAVA</h1>
    <hr>
    {{ render_flash() }}

    <div class="row justify-content-left mt-5 w-100">
        {% if current_user.strava_id %}
            <div class="col-md-7 order-md-1 my-auto shadow-lg p-3 mb-5 bg-white rounded"
                 style="display: flex; overflow: auto">
                <div id="user_card" class="col-md-4 align-self-center">
                    <div class="card border-info mb-3">
                        <img class="card-img-top mt-4"
                                {# TODO: Add URI to Strava profile picture #}
                             src="{{ url_for('static', filename='pics/default_avatar.svg') }}"
                             alt="Avatar image" width="200"
                             height="200">
                        <div class="card-body">
                            <h4 class="card-text">
                                {% if current_user.display_name %}
                                    {{ current_user.display_name }}
                                {% else %}
                                    No display name chosen yet
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 w-100"
                     style="display: flex; flex-direction: column">
                    <h4>
                        <span class="badge badge-pill badge-warning">STRAVA USER</span>
                        {% if current_user.competing %}
                            <span class="badge badge-pill badge-success">COMPETING - YES</span>
                        {% else %}
                            <span class="badge badge-pill badge-danger">COMPETING - NO</span>
                        {% endif %}
                    </h4>
                    <div class="mt-4">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">Username</th>
                                <td>
                                    {% if current_user.first_name or current_user.last_name %}
                                        {{ current_user.first_name }} {% if current_user.display_name != None %}
                                        {{ '"' + current_user.display_name + '"' }}{% endif %}
                                        {{ current_user.last_name }}
                                    {% else %}
                                        No name chosen yet
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">E-mail</th>
                                <td>{{ current_user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Favourite activity</th>
                                <td>{% if favorite_activities %} {{ favorite_activities }} {% else %} No activity posted
                                    yet. {% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row">Score</th>
                                <td>
                                    {% if total_run_score %}
                                        RUN: {{ total_run_score }}
                                    {% endif %}
                                    {% if total_walk_score %}
                                        <br>
                                        WALK: {{ total_walk_score }}
                                    {% endif %}
                                    {% if total_ride_score %}
                                        <br>
                                        CYCLING: {{ total_ride_score }}
                                    {% endif %}
                                    {% if total_inline_score %}
                                        <br>
                                        INLINE: {{ total_inline_score }}
                                    {% endif %}
                                    {% if not (total_run_score or total_walk_score or total_ride_score or total_inline_score) %}
                                        No activity posted yet.
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            </div>
        {% else %}
            <form action="{{ url_for( 'integrations.strava_init' ) }}">
                <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                <input class="btn btn-outline-dark" type="submit" value="STRAVA"/>
            </form>

        {% endif %}
{% endblock content_page %}

