{% extends "public_layout_template.html" %}
{% from "_formhelpers.html" import render_text_field, render_checkbox_field, render_submit_button %}

{% block content_page %}
    <!-- login part of the page -->
    <header class="masthead login">
        <div class="main container h-100">
            <div class="row justify-content-center align-middle">
                <div class="col-5 text-center">
                    <h1 class="display-1">Mathletics</h1>
                    {% block form %}
                    <form class="form-group" method="post">

                        {{ form.hidden_tag() }}

                        {{ render_text_field(form.email, type='email') }}

                        {{ render_text_field(form.password) }}

                        <div class="checkbox mb-3">
                            {{ render_checkbox_field(form.remember) }}
                            <br>
                            <a href="{{ url_for( 'users.register' ) }}">Create a new account.</a>
                        </div>

                        <div class="checkbox mb-3">
                            {{ render_checkbox_field(form.remember) }}
                            <br>
                            <a href="{{ url_for( 'users.register' ) }}">Forgot Password?</a>
                        </div>

                        {{ render_submit_button(form.submit) }}

                    </form>
                    {% endblock form%}
                </div>
            </div>
        </div>
    </header>
{% endblock content_page %}