{% extends "main_layout_template.html" %}
{% from "macros/matfyz_challenges_macro.html" import render_matfyz_challenges_cyclists_page with context %}
{% block content_page %}
    <div style="display: flex; justify-content: space-between">
        <div>
            <h2>Current Competition:</h2>
            <h3>Giro D'Italia - Route # {{ cycle + 1 }}</h3>
        </div>
    </div>

    <canvas class="my-4 w-100" id="myChart" width="900" height="220"
            style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none"></canvas>

    <script src="{{ url_for('static', filename='global_contest_cyclists.js') }}"></script>

    {{ render_matfyz_challenges_cyclists_page() }}

{% endblock content_page %}