{% extends "main_layout_template.html" %}
{% from "_formhelpers.html" import render_text_field, render_inline_radio_field, render_checkbox_field, render_submit_button, render_file_upload_field %}

{% block content_page %}
    <!-- Modal -->
    <div class="modal fade" id="addActivity" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-group" method="post" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        {{ render_inline_radio_field(form.activity) }}

                        {{ render_file_upload_field(form.file) }}

                        {{ render_submit_button(form.submit) }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Personal Dashboard</h2>
        <h3><span class="badge badge-light">{{ season['title'] }}</span></h3>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary" style="visibility: hidden;" >Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" style="visibility: hidden;">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" style="visibility: hidden;">
                <span data-feather="calendar"></span>
                This week
            </button>
            <div class="btn-group ml-4">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addActivity"> Add Activity </button>
            </div>
        </div>
    </div>
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    <script src="{{ url_for('static', filename='main_layout_template.js') }}"></script>
    <h2>Achievements</h2>
    <h6>Only activities between {{ season['start_date'].strftime('%B %d, %Y') }} and {{ season['end_date'].strftime('%B %d, %Y') }} are considered for competitions and challenges.</h6>
    <div class="table-responsive"></div>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <td>Date</td>
            <td>Distance</td>
            <td>Duration</td>
            <td>Type of activity</td>
        </tr>
        </thead>
        <tbody>
        {% for activity in last_activities %}
        <tr>
            <td>
                {{ activity['datetime'] }}
            </td>
            <td>
                {{ activity['distance'] }}
            </td>
            <td>
                {{ activity['duration'] }}
            </td>
            <td>
                {{ activity['type'] }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content_page %}