{% extends "main_layout_template.html" %}
{% block content_page %}
    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Personal Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.js') }}"></script>
    <script src="{{ url_for('static', filename='main_layout_template.js') }}"></script>
    <h2>Achievements</h2>
    <div class="table-responsive"></div>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <td>Date</td>
            <td>Distance</td>
            <td>Duration</td>
            <td>Type of activity</td>
        </tr>
        </thead>
        <tbody>
        {% for activity in last_activities %}
        <tr>
            <td>
                activity['datetime']
            </td>
            <td>
                activity['distance']
            </td>
            <td>
                activity['duration']
            </td>
            <td>
                activity['type']
            </td>
        </tr>
        </tbody>
    </table>
{% endblock content_page %}