{% extends "public_layout_template.html" %}
{% from "_formhelpers.html" import render_text_field, render_checkbox_field, render_submit_button %}

{% block content_page %}
    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="masthead register">
        <div class="main container h-100">
            <div class="row justify-content-center align-middle">
                <div class="col-5 text-center">
                    <h1 class="display-1">Mathletics</h1>
                    {% block form %}
                    <form class="form-signin" method="post" enctype="application/x-www-form-urlencoded">

                        {{ form.hidden_tag() }}

                        {{ render_text_field(form.email, autofocus=true, type='email') }}

                        {{ render_text_field(form.password) }}

                        {{ render_text_field(form.confirm_password) }}

                        <div class="checkbox mb-3">
                            <!-- TODO: Add support for 3-rd party applications. -->
                            <a href="{{ url_for( 'users.login' ) }}">Already registered?</a>
                        </div>

                        {{ render_submit_button(form.submit) }}

                    </form>

                    {% endblock form%}
                </div>
            </div>
        </div>
    </header>
{% endblock content_page %}