{% extends "public_layout_template.html" %}
{% from "macros/form_macros.html" import create_request_reset_form with context %}

{% block content_page %}
    <!-- login part of the page -->
    <header class="masthead login">
        <div class="main container h-100">
            <div class="row justify-content-center align-middle">
                <div class="col-5 text-center">
                    <h1 class="display-1">Mathletics</h1>
                    <form class="form-group" method="POST">

                        {{ create_request_reset_form(form) }}

                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock content_page %}
