{% extends "main_layout_template.html" %}
{% block content_page %}
    <div class="container mb-4">
        <div class="row-fluid">
            <div class="col-sm mb-4">
                <h1>Personal Statistics</h1>
                <table id="personalStats" class="display table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Distance</th>
                        <th>Time</th>
                        <th>Average Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in user_ten %}
                        <tr>
                            <td>{{ item['datetime'] }}</td>
                            <td>{{ item['distance'] }}</td>
                            <td>{{ item['duration'] }}</td>
                            <td>{{ item['average_duration_per_km'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                <h1>Global Statistics - Men Under 35</h1>
                <table id="personalStats" class="display table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Distance</th>
                        <th>Time</th>
                        <th>Average Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in ten_runner_men_under %}
                        <tr>
                            <td>{{ item[0]['email'] }}</td>
                            <td>{{ item[1]['datetime'] }}</td>
                            <td>{{ item[1]['distance'] }}</td>
                            <td>{{ item[1]['duration'] }}</td>
                            <td>{{ item[1]['average_duration_per_km'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                <h1>Global Statistics - Men Above 35</h1>
                <table id="personalStats" class="display table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Distance</th>
                        <th>Time</th>
                        <th>Average Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in ten_runner_men_above %}
                        <tr>
                            <td>{{ item[0]['email'] }}</td>
                            <td>{{ item[1]['datetime'] }}</td>
                            <td>{{ item[1]['distance'] }}</td>
                            <td>{{ item[1]['duration'] }}</td>
                            <td>{{ item[1]['average_duration_per_km'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                <h1>Global Statistics - Women Below 35</h1>
                <table id="personalStats" class="display table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Distance</th>
                        <th>Time</th>
                        <th>Average Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in ten_runner_women_under %}
                        <tr>
                            <td>{{ item[0]['email'] }}</td>
                            <td>{{ item[1]['datetime'] }}</td>
                            <td>{{ item[1]['distance'] }}</td>
                            <td>{{ item[1]['duration'] }}</td>
                            <td>{{ item[1]['average_duration_per_km'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                <h1>Global Statistics - Women Above 35</h1>
                <table id="personalStats" class="display table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Distance</th>
                        <th>Time</th>
                        <th>Average Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in ten_runner_women_above %}
                        <tr>
                            <td>{{ item[0]['email'] }}</td>
                            <td>{{ item[1]['datetime'] }}</td>
                            <td>{{ item[1]['distance'] }}</td>
                            <td>{{ item[1]['duration'] }}</td>
                            <td>{{ item[1]['average_duration_per_km'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content_page %}