{% extends "main_layout_template.html" %}
{% block content_page %}
<div class="container mb-4">
    <div class="row-fluid">
        <div class="col-sm mb-4">
            <h1>Personal Statistics</h1>
            <table id="personalStats" class="display table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Distance</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{item.date}}</td>
                        <td>{{item.distance}}</td>
                        <td>{{item.time}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <h1>Global Statistics</h1>
            <table id="personalStats" class="display table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Distance</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{item.date}}</td>
                        <td>{{item.distance}}</td>
                        <td>{{item.time}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content_page %}
