{% extends "main_layout_template.html" %}
{% from "_pageable_tables.html" import render_personal_activities_distance, render_best_users_distace %}

{% block content_page %}
   <div class="container mb-4">
        <div class="row-fluid">
            <div class="col-sm mb-4">
                <h2>My Last Runs / Walks</h2>
                {{ render_personal_activities_distance('foot') }}
            </div>
            <div class="col-sm mb-4">
                <h2>Global Leaders</h2>
                {{ render_best_users_distace('foot') }}
            </div>
        </div>
    </div>

{% endblock content_page %}
