{% extends "public_layout_template.html" %}

{% block content_page %}
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xl-3 col-lg-2 col-md-1"></div>
            <main role="main" class="col col-xl-6 col-lg-8 col-md-10 col-12 main">
                <h1>User statistics of {{ stats['datetime'] }}</h1>

                <table class="table text-center">
                    <tr>
                        <th scope="col">Total number of users</th>
                        <th scope="col">Number of unverified users</th>
                    </tr>
                    <tr>
                        <td>{{ stats['total'] }}</td>
                        <td>{{ stats['unverified'] }}</td>
                    </tr>
                </table>

                <table class="table text-center">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Students</th>
                        <th scope="col">Employees</th>
                        <th scope="col">Alumni</th>
                    </tr>
                    <tr>
                        <th scope="row">Male</th>
                        <td>{{ stats['male students'] }}</td>
                        <td>{{ stats['male employees'] }}</td>
                        <td>{{ stats['male alumni'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Female</th>
                        <td>{{ stats['female students'] }}</td>
                        <td>{{ stats['female employees'] }}</td>
                        <td>{{ stats['female alumni'] }}</td>
                    </tr>
                </table>
            </main>
            <div class="col col-xl-3 col-lg-2 col-md-1"></div>
        </div>
    </div>
{% endblock content_page %}